<div class="masthead">
    <p>Accessibility Issues</p>
    <nav class="main-nav">
    <ul>
        <li>
            <a href="/accessibility-issues/">Home</a>
        </li>
        <li>
            <a href="/accessibility-issues/index.html#issues">Issues</a>
        </li>
        <li>
            <a href="/accessibility-issues/index.html#tools">Tools</a>
        </li>
        <li>
            <a href="/accessibility-issues/index.html#resources">Resources</a>
        </li>
    </ul>
    </nav>
</div>