<div class="masthead">
    <p>Accessibility Issues</p>
    <nav class="main-nav">
    <ul>
        <li>
            <a href="/accessibility-issues/" data-ga-label="home">Home</a>
        </li>
        <li>
            <a href="/accessibility-issues/index.html#issues" data-ga-label="issues">Issues</a>
        </li>
        <li>
            <a href="/accessibility-issues/index.html#tools" data-ga-label="tools">Tools</a>
        </li>
        <li>
            <a href="/accessibility-issues/index.html#resources" data-ga-label="resources">Resources</a>
        </li>
        <li>
            <a href="/accessibility-issues/contribute.html" data-ga-label="contribute">Contribute</a>
        </li>
    </ul>
    </nav>
</div>